.CartPage {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

.CartPage-wrapper {
    margin: 0 auto;
    padding: 3rem 0;
    width: 80%;

    @media (max-width: 1024px) {
        width: 90%;
    }
}

.cart-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-bottom: 2rem;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.cart-items {
    display: flex;
    flex-direction: column;
    width: 60%;

    @media (max-width: 1024px) {
        width: 100%;
    }
}

.cart-header {
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    padding-top: 1rem;
}

.cart-header__title {
    font-weight: bold;
    margin: 0;
    text-align: center;
    width: 30%;
}

.cart-checkout {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;

    @media (max-width: 1024px) {
        width: 100%;
    }
}

.cart-checkout__active h1 {
    margin: 0;
}
