.CartPage {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

.CartPage-wrapper {
    margin: 0 auto;
    padding: 3rem 0;
    width: 80%;

    @media (max-width: 1024px) {
        width: 90%;
    }
}

.cart-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-bottom: 2rem;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.cart-items {
    border: 1px solid #efefef;

    display: flex;
    flex-direction: column;
    width: 60%;

    @media (max-width: 1024px) {
        width: 100%;
    }
}

.cart-checkout {
    width: 30%;
    @media (max-width: 1024px) {
        width: 100%;
    }
}
