.feature-headline {
    display: flex;
    justify-content: center;
}

.feature-headline h1 {
    font-size: 32px;
    text-transform: uppercase;
}

.feature-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-item__image {
    margin-bottom: 2rem;
}

.feature-item__image img {
    width: 250px;
}
