.cart-product {
    align-items: center;
    display: flex;
    height: 100%;
}

.cart-product__image {
    img {
        height: 100px;
        padding: 1rem;
    }
}

.cart-product__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cart-product__price {
    display: flex;
    flex-direction: column;
}

.product-cell {
    text-align: center;
    width: 30%;
}
